/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: #00045a;
    color: #fff;
    padding: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-title {
    font-size: 24px;
    text-align: center;
    margin-right: 10px;
}

.login-btn {
    padding: 10px 20px;
    background-color: #fff;
    color: #148fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #ddd;
}

/* Main content styles */
main {
    padding: 20px;
}

.login-container {
    width: 320px;
    margin: 0 auto;
    height: 380px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: #00045a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #007;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Footer styles */
.site-footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.footer-links a {
    color: #148fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
.social-icons {
  width: 40px;
  height: 40px;
} 